.places__textarea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 70px;
}

@media screen and (max-width: 1140px) {
  .places__textarea {
    margin: 50px;
  }
}

@media screen and (max-width: 984px) {
  .places__textarea {
    margin: 26px 16px;
    gap: 35px;
  }
}

@media screen and (max-width: 568px) {
  .places__textarea {
    margin: 16px;
    gap: 15px;
  }
}
