.header__menu {
  display: flex;
  gap: 36px;
  justify-content: space-between;
  align-content: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 568px) {
  .header__menu {
    gap: 12px;
    order: 2;
  }
}
