.header__complain {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 900;
  color: #010101;
  text-decoration: none;
  /*border: none;*/
  background: none;
  transition: opacity .3s linear;
  cursor: pointer;
  border: 1px solid crimson;
}

.header__complain:hover {
  opacity: .4;
}

@media screen and (max-width: 1140px) {
  .header__complain {

  }
}

@media screen and (max-width: 984px) {
  .header__complain {

  }
}

@media screen and (max-width: 568px) {
  .header__complain {
    /*max-width: calc(100% - 2*16px);*/
    order: 1;
    /*align-self: flex-end;*/
    text-align: right;
    font-size: 10px;
    line-height: 12px;
    font-weight: 700;
  }
}
