.places__description {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 25px;
}

@media screen and (max-width: 1140px) {
  .places__description {

  }
}

@media screen and (max-width: 984px) {
  .places__description {
    width: 100%;
    gap: 25px;
  }
}

